.chat-area {
  flex-grow: 1;
  background-color: #323338;
  display: flex;
  flex-direction: column;
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.other-groups {
  display: flex;
  align-items: center;
  background-color: #2f3136;
  padding: 1em;
  margin-bottom: 0.4em;
  overflow-x: auto;
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.other-groups p {
  color: #a5a1a1;
  margin-right: 10px;
}

.group-logo {
  width: 40px;
  height: 40px;
  background-color: #36393f;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.group-logo span {
  display: none;
}

.group-logo:hover {
  background-color: #3a3c43;
}

.messages {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #323338;
   -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.message-input {
  height: 40px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  background-color: #393a3f;
}

.chat-input-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8em;
  padding: 0.08em 0.8em;
  background-color: #1e1f22;
  border-radius: 0.6em;

}
.chat-input-layout .plus-icon{
  width: 27px;
  height: 27px;
cursor:pointer;
}

.chat-input-layout .plus-icon:hover{
  cursor:pointer;
  opacity:70%;
}

.messages{
   display: flex;
  flex-direction: column;
  gap: 1.6em;
  color: #ebedf0;
  margin:0em 1em;
}

.message{
  display: flex;
   flex-direction: row;
  align-items: center;
  gap:0.6em;
}
.message-sender {
  font-size:1.1em;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.user-profile-pic{
  cursor:pointer;
}
.user-profile-pic:hover{
  cursor:pointer;
  opacity:70%;
}
