.chatName-layout{
 width: 200px;
  background-color: #212121;
  padding: 10px;
}
.chatName{
 padding: 5px;
  color: #b9bbbe;
  cursor: pointer;
}
.chatName:hover{
   background-color: #3a3c43;
  border-radius: 5px;
}



.friend-list {
  width: 200px;
  background-color: #212121;
  padding: 10px;
}

.friend {
  padding: 5px;
  color: #b9bbbe;
  cursor: pointer;
}

.friend:hover {
  background-color: #3a3c43;
  border-radius: 5px;
}

