.file-preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.file-preview {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 10px;
}

.file-preview video {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
