  .layout {
    display: flex;
    height: 100vh;
  }

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
    scrollbar-width: none;
  background-color:"#43434b"
}

.nav-settings{
  color:"#ebedf0"
}
