

@media (min-width: 1200px) {
   .createPostContainer {
  width: 22em;
   margin-left: 1em;
  border-bottom: 1px solid #e1e8ed;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #14171a;
  padding-bottom: 1em;
}

.createPostLayout {
  display: flex;
  align-items: flex-start;
}

.profilePic {
  margin-right: 10px;
}

.profilePic img {
   width: 36px;
  height: 36px;
  border-radius: 50%;
}

.createPostMain {
  flex-grow: 1;
}

.createPostText {
  width: 100%;
  border: none;
  resize: none;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
  border-bottom: 1px solid #e1e8ed;
  margin-bottom: 10px;
  outline: none;
}

.createPostActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons{
   display: flex;
}

.icons img {
  width: 18px;
  height: 18px;
  margin-right: 15px;
  cursor: pointer;
}

.postButton {
  background-color: #fe1801;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.postButton:hover {
  background-color: #e21401;
}

}