.discord-server {
  display: flex;
  height: 100vh;
}
.my-groups-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #323338;
}

.group-cards-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
