.discord-server {
  display: flex;
  height: 100vh;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(14, 14, 14);
    width: 12%;
    padding: 20px;
    overflow: hidden;
    border-right: 1px solid #3a3a3a;
  }

.my-groups-area {
  flex-grow: 1;
  background-color: #323338;
  display: flex;
  flex-direction: column;
}

.group-cards-layout{
  display: flex;
  flex-direction: row;
}